<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#message}}{{message}}{{/message}}
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Usuario" required="required">
        <input type="password" name="password" placeholder="Password" required="required">
        <button type="submit">Entrar</button>

    </form>


</body>
</html>