<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/" method="post" >

    <table>

        <tbody>
        {{#days}}
            <tr style="margin: 10px">
                {{dayNumber}}


            </tr>


        {{/days}}

        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

</body>
</html>