<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/table" method="post" >
    <input type="hidden" name="monthId" value="{{monthId}}">
    <table>

        <tbody>
        {{#days}}
            <tr style="margin: 10px">
                {{dayNumber}}
                <label>
                    <input type="text" name="{{dayNumber}}" value = "{{sells}}" placeholder="vacio">
                    <input type="checkbox" name="h{{dayNumber}}" value= "true" {{#hollyday}}checked{{/hollyday}}>
                    <input type="hidden" name="h{{dayNumber}}" value="false">
                </label>

            </tr>





        {{/days}}

        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

</body>
</html>